YOUTUBE_API_KEY=youtube_api_key
OMDB_API_KEY=your_omdb_api_key
API_KEY=your_api_key
ALLOWED_ORIGIN=*
DATABASE_URL=your_database_url
GEMINI_API_KEY=your_token
GROQ_API_KEY=token
OMDB_API_KEY=code
TELEGRAM_BOT_TOKEN=bot_token
TELEGRAM_CHANNEL_ID=-1003___
TMDB_API_KEY=code

# Database credentials (for local postgres container)
POSTGRES_USER=oleh
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=myapp